body{
    background-image: url("https://cdn.pixabay.com/photo/2021/09/07/07/11/game-console-6603120_1280.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}